@font-face {
  font-family: roboto;
  src: url(assets/fonts/Roboto-Medium.ttf);
}

body {
  text-align: center;
  height: 100%;
  background-color: #85c69c;
  margin: 0;
  padding: 0;
  background-image: url("assets/images/white\ neural\ network\ lines.png");
  background-attachment: fixed;
}

.card {
  border: 1px solid rgb(160, 253, 203);
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
  background-color: rgba(197, 255, 221, 0.228);
  overflow: auto;
  display: inline-block;
  transition: transform 0.15s;
}

.aboutCard {
  border: 1px solid rgb(160, 253, 203);
  box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
  background-color: rgba(197, 255, 221, 0.228);
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card img {
  width: 70px;
}

#container {
  background-color: rgba(159, 225, 198, 0.593);
  width: 70%;
  margin: auto;
  padding-top: 90px;
  box-shadow: 0 0 6vh 6vh rgba(159, 225, 198, 0.593);
  transition: 0.5s all;
}
.logo {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.logoPic {
  width: 500px;
  transition: 0.5s;
}

/* (btn) */
.moreInfo {
  background: rgba(203, 255, 237, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(160, 253, 203);
  box-shadow: 1px 5px 15px rgba(43, 94, 63, 0.527);
}
.more-info {
  background: rgba(203, 255, 237, 0.47);
  border-radius: 16px;
  border: 1px solid rgb(160, 253, 203);
  box-shadow: 1px 5px 15px rgba(43, 94, 63, 0.527),
    0 4px 30px rgba(0, 0, 0, 0.1);
}

.removeBtn {
  background: rgba(203, 255, 237, 0.47);
  border-radius: 16px;
  border: 1px solid rgb(160, 253, 203);
  box-shadow: 1px 5px 15px rgba(43, 94, 63, 0.527),
    0 4px 30px rgba(0, 0, 0, 0.1);
  color: #153721;
  font-weight: 900;
}
.closeBtn {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: rgba(203, 255, 237, 0.47);
  border-radius: 10px;
  border: 1px solid rgb(160, 253, 203);
  box-shadow: 1px 5px 15px rgba(43, 94, 63, 0.527),
    0 4px 30px rgba(0, 0, 0, 0.1);
  color: #153721;
  font-weight: 900;
}

.card > div,
.card > button {
  margin-top: 3px;
}

.hidden {
  display: none;
}

* {
  font-family: roboto;
  box-sizing: border-box;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.nav-tabs {
  border: 0;
}

.active {
  background: rgba(203, 255, 237, 0.135) !important;
  box-shadow: 1px 5px 15px rgba(43, 94, 63, 0.527);
}

.ticker-wrap {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: rgba(42, 98, 67, 0.652);
  padding-left: 100%;
  box-sizing: content-box;
  border: #b7fed0 3px solid;
  border-left: none;
  border-bottom: none;
}
.tickerBg {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  backdrop-filter: blur(3px);
}

.ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 15s;
}
#homeLink,
#reportsLink,
#aboutLink {
  padding: 8px 20px;
  color: #f9f9f9;

  border-radius: 9px;
}
.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.4rem;
  color: #f9f9f9;
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.649);
}

.navbar-brand > img {
  width: 50px;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  backdrop-filter: blur(3px);
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: rgba(42, 98, 67, 0.652);
}

.checked {
  background-color: #ff9696;
}

.checkbox {
  line-height: 0;
  position: absolute;
  right: 10px;
  font-weight: 900;
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.spinner {
  position: absolute;
  top: 180px;
  right: 60px;
}

#modal {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 70%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  background-color: rgba(63, 147, 101, 0.845);
  color: #dafde6;
  border-radius: 30px;
  box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
  backdrop-filter: blur(3px);
}

.modalCard {
  border: 1px solid rgb(160, 253, 203);
  margin: 10px;
  padding: 10px;
  width: 150px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
  background-color: rgba(197, 255, 221, 0.228);
  overflow: auto;
  display: inline-block;
}
nav {
  border: #85c69c 2px solid;
}
.checkbox {
  display: none;
}

.toggle {
  position: absolute;
  width: 30px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: #37864f;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

.bar--top {
  bottom: calc(50% + 11px + 4px / 2);
  transition-property: bottom, margin, transform;
  transition-delay: calc(0s + 0.35s), 0s, 0s;
}

.bar--middle {
  top: calc(50% - 4px / 2);
  transition-property: top, opacity;
  transition-duration: 0.35s, 0s;
  transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

.bar--bottom {
  top: calc(50% + 11px + 4px / 2);
  transition-property: top, transform;
  transition-delay: 0s;
}

.checked + .toggle .bar--top {
  bottom: calc(50% - 11px - 4px);
  margin-bottom: calc(11px + 4px / 2);
  transform: rotate(45deg);
  background: #d25a5a;
  transition-delay: calc(0s + 0.35s * 0.3), calc(0s + 0.35s * 1.3),
    calc(0s + 0.35s * 1.3);
}

.checked + .toggle .bar--middle {
  top: calc(50% + 11px);
  opacity: 0;
  transition-duration: 0.35s, 0s;
  background: #d25a5a;
  transition-delay: 0s, calc(0s + 0.35s);
}

.checked + .toggle .bar--bottom {
  top: calc(50% - 4px / 2);
  transform: rotate(-45deg);
  background: #d25a5a;
  transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

.spinner {
  --clr: #6ea392;
  width: 40px;
  height: 40px;
}

.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -19px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: var(--clr);
}

.spinner:before {
  z-index: 100;
  animation: spin 1s infinite;
}

.spinner:after {
  border: 10px solid #e6ffe8;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#container.modal-open,
nav.modal-open {
  pointer-events: none;
}

@media screen and (max-width: 853px) {
  .logoPic {
    width: 58vw;
  }
}

@media screen and (min-width: 853px) and (max-width: 1253px) {
  .logoPic {
    width: 28vw;
  }
}

@media screen and (max-width: 627px) {
  #modal {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(63, 147, 101, 0.845);
    color: #dafde6;
    border-radius: 30px;
    box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
    backdrop-filter: blur(3px);
  }

  .modalCard {
    border: 1px solid rgb(160, 253, 203);
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
    background-color: rgba(197, 255, 221, 0.228);
    overflow: auto;
    display: inline-block;
  }
}

.notFoundImg {
  width: 30vw;
  margin: 150px;
}

.modalMsg {
  position: absolute;
  font-weight: 500;
}
@media screen and (max-width: 1019px) {
  .modalMsg {
    background-color: rgba(63, 147, 101, 0.845);
    color: #dafde6;
    border-radius: 30px;
    box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
    backdrop-filter: blur(3px);
    top: -30px;
    width: 80vw;
    color: white;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black,
      0px 0px 3px black, 0px 0px 13px black;
  }
}
@media screen and (max-width: 532px) {
  .modalMsg {
    background-color: rgba(63, 147, 101, 0.845);
    color: #dafde6;
    border-radius: 30px;
    box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
    backdrop-filter: blur(3px);
    top: -30px;
    width: 100vw;
    color: white;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black,
      0px 0px 3px black, 0px 0px 13px black;
  }
}

@media screen and (min-width: 627px) and (max-width: 1019px) {
  #modal {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(63, 147, 101, 0.845);
    color: #dafde6;
    border-radius: 30px;
    box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
    backdrop-filter: blur(3px);
  }

  .modalCard {
    border: 1px solid rgb(160, 253, 203);
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
    background-color: rgba(197, 255, 221, 0.228);
    overflow: auto;
    display: inline-block;
  }
}
@media screen and (max-width: 425px) {
  #modal {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 6;
    top: 53%;
    left: 50%;
    height: 70%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(63, 147, 101, 0.845);
    color: #dafde6;
    border-radius: 30px;
    box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
    backdrop-filter: blur(3px);
  }
  .modalMsg {
    top: -50px;
  }
  .modalCard {
    border: 1px solid rgb(160, 253, 203);
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 15px 25px rgba(43, 94, 63, 0.527);
    background-color: rgba(197, 255, 221, 0.228);
    overflow: auto;
    display: inline-block;
  }
}
@media screen and (max-width: 299px) {
  #modal {
    width: 90%;
  }
}

#chartContainer {
  position: absolute;
  top: 30%;
}

.toggler {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
}

.toggler:before {
  box-shadow: 0;
  border-radius: 84.5px;
  background: #ffffff;
  position: absolute;
  margin-left: -36px;
  margin-top: -36px;
  opacity: 0.2;
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
}



.toggler .button {
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  border-radius: 68.8px;
  position: absolute;
  background: #d2ead9;
  margin-left: -34.4px;
  margin-top: -34.4px;
  display: block;
  height: 68.8px;
  width: 68.8px;
  left: 50%;
  top: 50%;
}

.toggler .label {
  transition: color 300ms ease-out;
  line-height: 101px;
  text-align: center;
  position: absolute;
  font-weight: 700;
  font-size: 15px;
  display: block;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
}

.toggler input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.toggler input:active ~ .button {
  filter: blur(0.5px);
  box-shadow: 0 12px 25px -4px rgba(0, 0, 0, 0.4),
    inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 8px 25px 0 rgba(0, 0, 0, 0.4),
    inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}

.toggler input:active ~ .label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.45);
}

.toggler input:checked ~ .button {
  filter: blur(0.5px);
  box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.4),
    inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 8px 20px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

.toggler input:checked ~ .label {
  color: rgba(0, 0, 0, 0.8);
}
